@media (min-width: 0) and (max-width: 575px) {
  .w-xs-100 {
    width: 100%;
  }

  .hidden-xs {
    display: none;
  }

  .mt-xs-1 {
    margin-top: 1rem * .25;
  }

  .mt-xs-2 {
    margin-top: 1rem * .5;
  }

  .mt-xs-3 {
    margin-top: 1rem;
  }

  .mt-xs-4 {
    margin-top: 1rem * 1.5;
  }

  .mt-xs-5 {
    margin-top: 1rem * 3;
  }

  .main-h1 {
    font-size: 20pt;
  }

  .navbar-brand img {
    width: 150px;
  }

  #main {
    margin-top: calc(1rem * 4);
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .w-sm-100 {
    width: 100%;
  }

  .hidden-sm {
    display: none;
  }

  .main-h1 {
    font-size: 22pt;
  }

  .navbar-brand img {
    width: 150px;
  }

  #main {
    margin-top: calc(1rem * 4);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .w-md-50 {
    width: 50%;
  }

  .hidden-md {
    display: none;
  }

  #main {
    margin-top: calc(1rem * 5);
  }
}

@media (min-width: 992px) {
  .w-lg-50 {
    width: 50%;
  }

  .hidden-lg {
    display: none;
  }

  #main {
    margin-top: 100px;
  }
}