@charset "UTF-8";
@import "~bootstrap/scss/bootstrap";
@import "utulities";

/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #1F1F39;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

    --color-text: #181818;
    --bg-success: #36d58b;
    --bg-info: #b2dcff;
    --text-color-info: #254560;
    --bg-error: #ff6161;
    --bg-whatsapp: #25d366;
    --bg-whatsapp-dark: #20b458;
    --bg-telegram: #2aabee;
    --bg-telegram-dark: #229ed9;
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

    --section-gap: 160px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

body,
html {
    font-family: Inter, Poppins, Roboto, sans-serif;
    height: 100%;
}

.bg-gradient-primary-to-secondary {
    background: #4475F1;
    background: linear-gradient(135deg, #4475F1 0%, #272fb3 100%);
}

.text-gradient {
    background: -webkit-linear-gradient(315deg, #4475F1 0%, #6121af 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rounded-4 {
    border-radius: 1rem !important;
}

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

.profile {
    position: relative;
    height: 75vw;
    width: 75vw;
    border-radius: 5vw;
    margin-top: 5vw;
    max-height: 40rem;
    max-width: 40rem;
}
.profile .profile-img {
    height: 70vw;
    max-height: 45rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.profile .dots-1 {
    position: absolute;
    width: 3vw;
    right: 1.5vw;
    top: 4vw;
}
.profile .dots-1 svg {
    fill: #fff;
}
.profile .dots-2 {
    position: absolute;
    width: 3vw;
    right: -4vw;
    top: 6.05vw;
}
.profile .dots-2 svg {
    fill: #4475F1;
}
.profile .dots-3 {
    position: absolute;
    width: 3vw;
    left: 1.5vw;
    bottom: 6.05vw;
}
.profile .dots-3 svg {
    fill: #fff;
}
.profile .dots-4 {
    position: absolute;
    width: 3vw;
    left: -4vw;
    bottom: 4vw;
}
.profile .dots-4 svg {
    fill: #4475F1;
}

@media (min-width: 576px) {
    .profile {
        height: 60vw;
        width: 60vw;
    }
    .profile .profile-img {
        height: 55vw;
    }
    .profile .dots-1 {
        width: 3vw;
        right: 1.5vw;
    }
    .profile .dots-2 {
        width: 3vw;
        right: -4vw;
    }
    .profile .dots-3 {
        width: 3vw;
        left: 1.5vw;
    }
    .profile .dots-4 {
        width: 3vw;
        left: -4vw;
    }
}
@media (min-width: 768px) {
    .profile {
        height: 50vw;
        width: 50vw;
    }
    .profile .profile-img {
        height: 45vw;
    }
    .profile .dots-1 {
        width: 3vw;
        right: 1.5vw;
    }
    .profile .dots-2 {
        width: 3vw;
        right: -4vw;
    }
    .profile .dots-3 {
        width: 3vw;
        left: 1.5vw;
    }
    .profile .dots-4 {
        width: 3vw;
        left: -4vw;
    }
}
@media (min-width: 992px) {
    .profile {
        height: 40vw;
        width: 40vw;
    }
    .profile .profile-img {
        height: 35vw;
    }
    .profile .dots-1 {
        width: 1.5vw;
        right: 0.75vw;
    }
    .profile .dots-2 {
        width: 1.5vw;
        right: -2vw;
    }
    .profile .dots-3 {
        width: 1.5vw;
        left: 0.75vw;
    }
    .profile .dots-4 {
        width: 1.5vw;
        left: -2vw;
    }
}
@media (min-width: 1200px) {
    .profile {
        height: 35vw;
        width: 35vw;
    }
    .profile .profile-img {
        height: 30vw;
    }
    .profile .dots-1 {
        width: 1.5vw;
        right: 0.75vw;
    }
    .profile .dots-2 {
        width: 1.5vw;
        right: -2vw;
    }
    .profile .dots-3 {
        width: 1.5vw;
        left: 0.75vw;
    }
    .profile .dots-4 {
        width: 1.5vw;
        left: -2vw;
    }
}

.accordion-button {
    font-weight: 500;
}

.navbar-nav {
    .nav-link {
        font-weight: 400;
        font-size: 14pt;
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
}

.bg-dark {
    --si-bg-opacity: 1;
    background-color: #0b0f19 !important;
}

footer {
    .nav-link {
        padding-left: 0!important;
        padding-bottom: 5px!important;
        padding-top: 5px!important;
        margin-bottom: 0!important;
        font-size: 11pt;
        font-weight: 300;
    }
}

a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: none;
}